{% for obj in newsitems %}
  <blockquote>
    <p>
       <a href="{{obj.get_absolute_url}}">{{obj.get_title}}</a>
        <small>
         {{obj.publication_date|date:"SHORT_DATE_FORMAT"}}
        </small>
      </a>
    </p>
  </blockquote>
  <hr />
{% endfor %}
